#contenedor {
  width: 800px;
}
#cabecera {
}
#menu {
  float: left;
  width: 250px;
}
#contenido {
  float: left;
  width: 550px;
}
#pie {
  clear: both;
}

.normal {
	width: 200px;
	border: 1px solid #000;
	border-collapse: collapse;
}

.normal th, .normal td {
	border: 1px solid #000;
}

