<html>
<head>

	</head>
<body>
	<header>
		<nav>
			<a href="{% url 'vista_principal' %}">Home/</a> 
			<a href="{% url 'vista_listado' %}">Listado/</a>
			<a href="{% url 'vista_ingreso' %}">Ingreso/</a>
				{% if user.is_authenticated%}
					Bienvenido:{{ user.username }}
					<a href="{% url 'vista_logout' %}">Logout </a>
				{% else %}
					<a href="{% url 'vista_login' %}">Login </a>
				{% endif %}
		</nav>
	</header>
	<h2> {% block titulo %}  Principal  {% endblock %}	</h2>

	{% block contenido %}   
		 
	{% endblock %}
	
</body>

</html>
