{% extends 'base.html' %}


{% block contenido %}

	{% if estudiantes %}
		<h2>Listado de estudiantes: </h2>
		<form action="{% url 'buscar_estudiante' %}" method="get">
		        <input type="text" name="q">
		        <input type="submit" value="Buscar">
		</form>
			<table border=1>
			<tr>
				<td> Editar</td>
				<td>eliminar</td>
				<td>Estudiantes</td>
			</tr>   
			{% for estudiante in estudiantes %}
			
				<tr> 
					<td><a href="{% url 'editar_estudiante' estudiante.id %}">Editar</a></td>
					<td><a href="{% url 'editar_estudiante' estudiante.id %}">Borrar</a></td>
					 <td>{{estudiante.nombre}}  {{estudiante.apellidos}}  Email:{{ estudiante.email}}</td>
				</tr>
				
			{% endfor %}
		
			</table>
	{% else %}
		<h2> No hay registro de estudiantes </h2>
	{% endif %}
	
{% endblock %}