{% extends 'base.html' %}
	
	{% block titulo %}  Listado  {% endblock %}
	
	{% block contenido %}  
		<form action="/buscar/" method="get">
			<input type="text" name='q' />
			<input type="submit" value="Buscar" />
		</form>
		
		<table border = '0' >
			<tr>
				<td>Edicion/</td>
				<td>Borrado/</td>
				<td>Registros/</td>
			</tr>
		
		{%for persona in alumnos %}
			
			<tr>
				<td><a href="{% url 'vista_edicion' persona.id %}" > Edicion/ </a></td>
				<td><a href="{% url 'vista_eliminar' persona.id %}" > Borrado/</a></td>
					<td>		{{persona.nombre}} {{persona.apellidos}}	</td>
					 
			</tr>
		{%endfor%}
		
	{% endblock %}
